# Python Backend / ML Ignores
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env

# Node / React Web Admin Ignores
web-admin/node_modules/
web-admin/build/
web-admin/.env
admin-panel/node_modules/
admin-panel/build/

# Flutter Mobile Ignores
mobile/.dart_tool/
mobile/.packages
mobile/build/
mobile/ios/Flutter/Flutter.podspec

# IDE & OS Ignores
.DS_Store
.vscode/git add .gitignore